
<table class="table">
 
    <tbody >
      <tr  >
        <th scope="row" >subtotal</th>
        <td>{{numberofItem}}</td>
        <td>{{totalcal | currency :'INR'}}</td>
        
      </tr>
      <tr>
        <th scope="row">vattax</th>
        <td>
          <input type="text" #vattaxvalue placeholder="10%" >
        </td>
        <td>{{vattax}}</td>
        
      </tr>
      <tr>
        <th scope="row">discoubt</th>
        <td>
          <input type="text"  placeholder="10%">

        </td>
        <td>the Bird</td>
        
      </tr>
      <tr>
        <th scope="row">total</th>
        <td></td>
        <td>the Bird</td>
        
      </tr>
    </tbody>
  </table>