
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">subtotal</li>
                <li class="list-group-item">vat tax</li>
                <li class="list-group-item">discount</li>
                <li class="list-group-item">total</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </ul> 

    </div>
</div>